MONGODB_URI= # URI received by MongoDB Atlas owner for now

BETTER_AUTH_SECRET= # Used for encrypting and hashing.
# To generate a secret, run: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"

BETTER_AUTH_URL=http://localhost:3000

NODE_ENV=development
